<div th:fragment="html">
    <div id="footer" class="footer" style="display: block;">
        <div id="footer_ensure" class="footer_ensure">
            <a href="#nowhere">
                <img src="img/site/ensure.png">
            </a>
        </div>

        <div class="horizontal_line">
        </div>

        <div id="footer_desc" class="footer_desc">
            <div class="descColumn">
                <span class="descColumnTitle">blah</span>
                <a href="#nowhere">blah</a>
                <a href="#nowhere">blah</a>
                <a href="#nowhere">blah</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">blah</span>
                <a href="#nowhere">blah</a>
                <a href="#nowhere">blah</a>
                <a href="#nowhere">blah</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">Pay way</span>
                <a href="#nowhere">Card</a>
                <a href="#nowhere">Loan</a>
                <a href="#nowhere">blah</a>
                <a href="#nowhere">blah</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">blah</span>

                <a href="#nowhere">meow meow</a>
                <a href="#nowhere">blah</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">Cat over phone</span>
                <a href="#nowhere"><img src="img/site/ma.png"></a>
            </div>

        </div>

        <div style="clear:both">

        </div>

        <div id="copyright" class="copyright">
            <div class="coptyrightMiddle">
                <img id="cateye" class="cateye" src="img/site/cateye.png">
                <div class="white_link">
                    <a href="#nowhere" style="padding-left:0px">About cat</a>

                </div>
                <div class="white_link">
                    <a href="#nowhere" style="padding-left:0px"> Cat Group</a><span class="slash">|</span>

                    <a href="#nowhere"> Pay </a>
                </div>

                <div class="license">
                    <div class="copyRightYear">© 2020-2020 copyright of meow inc.</div>
                    <div>
                        <img src="img/site/copyRight1.jpg">
                        <img src="img/site/copyRight2.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="html">